/* General Settings */
* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  background-color: #e6fff2;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.center-items {
  align-items: center;
}

.center-text {
  text-align: center;
}

main {
  align-self: center;
}


/* Header, Footer, Legend, Label */
.main-header {
  background-color: #000033;
  width: 100%;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  text-transform: uppercase;
}

.form-heading + p,
.main-footer {
  color: #999;
  padding-top: 7px;
  padding-bottom: 10px;
}

.form-wrapper > hr {
  display: block;
  width: 100%;
  height: 2px;
  border-top: solid 4px black;
  border-bottom: solid 2px black;
  border-left: none;
  border-right: none;
}

.form-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.capitalized {
  text-transform: capitalize;
}

/* Form */
form {
  margin-top: 20px;
  width: 100%;
}

.form-heading {
  font-size: 24px;
}

fieldset {
  border: none;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  text-align: left;
}

legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#registration-form-contact input,
#registration-form-contact select {
  display: block;
  margin-top: 7px;
}

#registration-form-contact input::placeholder {
  text-align: right;
}

.input-group {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 3px;
  display: flex;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

textarea,
#registration-form-contact input:not(#zip),
#registration-form-contact select {
  width: 100%;
}

textarea,
#registration-form-contact input,
#registration-form-contact select {
  border: none;
  border-radius: 3px;
  background-color: rgba(221, 221, 221, 0.5);
  border: none;
  transition: background-color 0.8s linear,
              box-shadow 1s ease,
              opacity 0.7s linear;
}

textarea:focus,
#registration-form-contact input:focus,
#registration-form-contact select:focus,
textarea:hover,
#registration-form-contact input:hover,
#registration-form-contact select:hover {
  background-color: rgba(168, 168, 168, 1);
}

#registration-form-contact input,
#registration-form-contact select {
  height: 45px;
  padding-right: 10px;
  padding-left: 10px;
}

#zip {
  width: 50%;
}

#registration-form-newsletter input {
  display: none;
}

#registration-form-newsletter input + label {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

#registration-form-newsletter input + label::before {
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  left: -20px;
  background-color: darkgreen;
  text-align: center;
  vertical-align: center;
}

#registration-form-newsletter input[type="radio"] + label::before {
  border: solid 4px darkgreen;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transition: background-color 0.5s linear;
}

#registration-form-newsletter input:checked[type="radio"] + label::before {
  background-color: white;
}

#registration-form-newsletter input[type="checkbox"] + label::before {
  content: "";
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  transition: all 0.75s linear;
}

#registration-form-newsletter input:checked[type="checkbox"] + label::before {
  content: "✓";
  font-size: 10px;
  font-weight: 800;
}

.choice-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 2px purple;
}

option:not(.placeholder-opt) {
  color: black;
}

form > hr {
  width: 100%;
  display: block;
  height: 0;
  border-top: solid 2px black;
  margin: 20px 0;
}

.choice-description {
  display: block;
  margin-top: 20px;
  margin-bottom: 12px;
}

.submit-button {
  width: 95%;
  height: 40px;
  background-color: #0c9;
  border-radius: 5px;
  border: none;
  color: white;
  transition: background-color 0.5s linear,
              font-size 0.25s linear;
}

.submit-button:hover,
.submit-button:active {
  background-color: #0a7;
}

.submit-button:active {
  font-size: 20px;
}

fieldset:first-child {
  background-color: #ccffe6;
}

fieldset:not(:first-child) {
  background-color: #d9ffcc;
}

.form-header {
  background-color: #ffe6f2;
  margin-bottom: 20px;
}

/* Mobile */
main {
  width: 95%;
  max-width: 614px;
}

.input-group {
  flex-direction: column;
  align-items: flex-start;
}

.input-group > input {
  width: 100%;
}

/* Tablet */
@media (min-width: 768px) {
  main {
    width: 80%;
  }

  .input-group {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .input-group > label {
    width: 30%;
    max-width: 135px;
  }

  .input-group > input:not(#zip) {
    width: 60%;
  }

  #zip {
    width: 30%;
  }
}
